{% extends 'myapp/base.html' %}

{% block title %}
<title>Posts</title>
{% endblock title %}

{% block content %}

<h1>Posts</h1>

{% for post in post_list %}

<div style="margin-bottom: 20px; padding: 20px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h1 style="font-size: 24px; margin-bottom: 10px;">{{ post.title }}</h1>
    <h2 style="font-size: 20px; margin-bottom: 10px;">{{ post.description }}</h2>
    <h3 style="font-size: 16px; color: #555; margin-bottom: 10px;">Author: {{ post.author }} || Date Created: {{ post.created_at }}</h3>
    <p style="font-size: 14px; line-height: 1.6;">{{ post.body }}</p>
    {% if request.user == post.author %}
    <a href="{% url 'updatepost' post.id %}"><button class="btn btn-primary">Update Post</button></a>
    <a href="{% url 'deletepost' post.id %}"><button class="btn btn-danger">Delete Post</button></a>
    {% endif %}
</div>

{% endfor %}

{% endblock %}
